# Дополнительные сведения о файле EDITORCONFIG: https://aka.ms/editorconfigdocs

# All files
[*]
indent_style = space


# Editor Guidelines
# All Files
[*]
guidelines = 80
# C# or VB files
[*.{cs,vb}]
guidelines = 80, 120

# Xml files
[*.xml]
indent_size = 2
